h1{
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
  color: #333333;
  margin-top: -.2em;
}
.slime{
  width: 1450px;
  height: 300px;
  margin-left: -1em;
  margin-top: -6em;
}
.hawt{
  width: 250px;
  height: 250px;
  margin-left: 1.5em;
  margin-bottom: 16em;
  z-index: 1;
}
#logo.img,
#logo.text{
  transition: opacity 10s ease;
  margin-bottom: 10em;
}
#logo .text{
  position: absolute;
  opacity: 1;
  margin-top:-32em;
  margin-left: 450px;
  margin-bottom: 10em;
}
#logo:hover .hawt{
  opacity: 1;
}
#logo:hover .text{
  opacity: 1;
}
#nav_menu{
  margin-top: -15em;
}
h2{
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    color: #333333;
    margin-left: .5em;
    margin-top: -2em;
  }
h3{
    font-family: futura-pt, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
  }
#nav{
    margin-bottom: -25em;
    height: 2em;
    display: block;
    width: 300px;
    margin-left: 2.5em;
  }
#nav a{
    text-decoration: none;
    color: #333333;
  }
#nav a:hover{
    color: #257F75;
    text-decoration: underline;
  }
#nav a:active{
    text-decoration: underline;
  }
.nav_break{
    height: 10px;
  }

.page_title_break{
    height:10px;
  }
#page_title{
    text-decoration: none;
  }
.page_title:active{
    text-decoration: line-through;
    color: #333333;
  }
.gallery img{
  width: 850px;
  height: 500px;
  margin-left: 21em;
  margin-top: 5em;
  margin-bottom: 1em;
  border: 2px solid #333333;
  opacity: 40%;
}
.gallery img:hover{
  border: none;
  z-index: -1;
  opacity: 100;
}
.gallery h2{
  color: #257F75;
  font-size: 100px;
  z-index: 2;
  opacity: 70%;
  position: relative;
  text-align: center;
}
.gallery a{
  text-decoration: none;
}
.text1{
  text-decoration: none;
  margin-left: 27.2em;
  position: absolute;
  text-align: center;
  margin-top: -7em;
}
.text1 h2:hover{
  opacity: 100;
}
.text2{
  margin-left: 31em;
  margin-top: -7em;
  text-decoration: none;
  position: absolute;
  text-align: center;
}
.text2 h2:hover{
  opacity: 100;
}
.text3{
  text-decoration: none;
  position: absolute;
  text-align: center;
  margin-left: 22em;
  margin-top: -7em;
}
.text3 h2:hover{
  opacity: 100;
}
.text4{
  text-decoration: none;
  position: absolute;
  text-align: center;
  margin-left: 27em;
  margin-top: -7em;
}
.text4 h2:hover{
  opacity: 100;
}
