h1{
  font-size:50px;
  font-family: headline-gothic-atf-rough-n2, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-size:25px;
}
#footer{
  background-color: black;
}
#pagetop{
  background-color:black;
}
body{
  font-family:helvetica;
  background-color: black;
  color: white;
}
