body{
  margin: 0;
  padding: 0;
}
#pagetop{
  width: 1450px;
}
h1{
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
  color: #333333;
  margin-top: -.2em;
}
.slime{
  width: 1450px;
  height: 300px;
  margin-left: -1em;
  margin-top: -6em;
}
.hawt{
  width: 250px;
  height: 250px;
  margin-left: 1.5em;
  margin-bottom: 16em;
  z-index: 1;
}
#logo.img,
#logo.text{
  transition: opacity 10s ease;
  margin-bottom: 10em;
}
#logo .text{
  position: absolute;
  opacity: 1;
  margin-top:-32em;
  margin-left: 450px;
  margin-bottom: 10em;
}
#logo:hover .hawt{
  opacity: 1;
}
#logo:hover .text{
  opacity: 1;
}
#nav_menu{
  margin-top: -15em;
  width: 500px;
  margin-right:7em;
}
h2{
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    color: #333333;
    margin-left: .5em;
    margin-top: -2em;
  }
h3{
    font-family: futura-pt, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    z-index: 100;
  }
#nav{
    margin-bottom: -25em;
    height: 2em;
    display: inline-block;
    margin-left: 2em;
    z-index: 4;
    width: 500px;
  }
.navlinks{
  z-index: 99;
  display: inline-block;
}
#nav a{
    text-decoration: none;
    color: #333333;
    width: 500px;
  }
#nav a:hover{
    color: #257F75;
    text-decoration: underline;
  }
#nav a:active{
    text-decoration: underline;
  }
.nav_break{
    height: 10px;
  }

.page_title_break{
    height:10px;
  }
#page_title:active{
    text-decoration: line-through;
    color: #333333;
  }
#page_title:hover{
  text-decoration: line-through;
  color: #333333;
}
.gallery img{
  width: 720px;
  height: 400px;
  margin-left: 21em;
  margin-top: 5em;
  margin-bottom: 1em;
  border: 2px solid #333333;
  opacity: 40%;
}
.gallery{
  margin-top: -45em;
  margin-left: 6em;
}
.gallery img:hover{
  border: none;
  z-index: -1;
  opacity: 100;
}
.gallery h2{
  color: #257F75;
  font-size: 100px;
  z-index: 2;
  opacity: 70%;
  position: relative;
  text-align: center;
}
.gallery a{
  text-decoration: none;
  display: inline-block;
}
.text1{
  text-decoration: none;
  margin-left: 22em;
  position: absolute;
  text-align: center;
  margin-top: -12em;
}
.text1 h2:hover{
  opacity: 100;
}
.text2{
  margin-left: 27em;
  margin-top: -12em;
  text-decoration: none;
  position: absolute;
  text-align: center;
}
.text2 h2:hover{
  opacity: 100;
}
.text3{
  text-decoration: none;
  position: absolute;
  text-align: center;
  margin-left: 29em;
  margin-top: -8em;
  width: 400px;
}
.text3 h2:hover{
  opacity: 100;
}
.text4{
  text-decoration: none;
  position: absolute;
  text-align: center;
  margin-left: 25em;
  margin-top: -10em;
  width: 500px;
}
.text5{
  margin-left:22em;
  margin-top: -12em;
}
.text4 h2:hover{
  opacity: 100;
}
#myBtn{
  display: inline-block;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #333333; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 40px; /* Rounded corners */
  font-size: 35px; /* Increase font size */
  width: 75px;
  height: 75px;
  text-decoration: none;
  text-transform: none;
}

#myBtn:hover{
  background-color: #257F75; /* Add a dark-grey background on hover */
  opacity: 40%;
  color: #257F75;
  display: inline-block;
}
a:active{
  text-transform: none;
  color: #257F75;
  display: inline-block;
}
a{
  text-decoration: none;
  text-transform: none;
  color: white;
  display: inline-block;
}
