h1{
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    color: #333333;
    margin-top: .5em;
    margin-left: 8.7em;
}
button{
  width: 250px;
  height:60px;
  background-color: #333333;
  border: none;
  margin-left: 45em;
  margin-top: 2em;
}
h3{
    font-family: futura-pt, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    color: white;
    margin-top: 11px;
  }
.moodboard{
  width:650px;
  height: 400px;
  margin-left: 26em;
}
.zs{
  width:900px;
  height: 650px;
  margin-left: 18em;
}
h2{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-decoration: underline;
}
.fun_text{
  margin-left: 23em;
  margin-bottom: 2em;
}
.zs_text{
  margin-left:21em;
  margin-top: 2em;
  margin-bottom: 2em;
}
