h1{
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    color: #333333;
    margin-top: .5em;
    margin-left: 9.5em;
}
.backtohome{
  width: 250px;
  height:60px;
  background-color: #333333;
  border: none;
}
h3{
    font-family: futura-pt, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    background-color: #333333;
    text-decoration: none;
    width: 250px;
    height:60px;
    color: white;
    text-transform: none;
    margin-top: .5em;
    margin-left: 23em;
  }

p{
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 24px;
  padding-left: 4.5em;
  padding-right: 4.5em;
  margin-top: -1em;
}
img{
  width: 700px;
  height: 500px;
  margin-left: 25em;
}
