
h1{
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    color: #333333;
    margin-top: .5em;
    margin-left: 9.7em;
}
h2{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-transform: capitalize;
}
.titles{
  margin-left: 6.5em;
  width: 1000px;
  text-decoration: underline;
}

.logo img{
  width: 450px;
  height:450px;
  margin-left: -34px;
}
.bespokegallery{
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(2, 500px);
  grid-gap: 20px;
}
.artist img{
  width: 300px;
  height: 300px;
  margin-bottom: 10em;
}
.artist1 img{
  width: 300px;
  height: 300px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: -5em;
}
.artist2 img{
  width: 500px;
  height: 500px;
  margin-top: -7em;
}
#b_title{
  text-align: center;
  margin-left: 9em;
  margin-top: -1em;
}
br{
  margin-bottom: -10em;
}
.bespoke1 img{
  width: 650px;
  height: 550px;
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  margin-top: -10em;
  margin-left: 3em;
}
.backtohome{
  width: 250px;
  height:60px;
  background-color: #333333;
  border: none;
  margin-left: 45em;
  margin-top: 2em;
  text-transform: none;
  text-decoration: none;
}
h3{
    font-family: futura-pt, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    margin-top: 11px;
    background-color: #333333;
    width: 250px;
    height:60px;
    margin-left: 24em;
    text-align: center;
    color: white;
    text-transform: none;
    text-decoration: none;
  }

.gallery{
      display: grid;
      grid-template-columns: repeat(3, 400px);
      /* same size so they are squares */
      grid-template-rows: repeat(500px);
      grid-gap: 50px;
  }
.gallery img{
  width: 400px;
  height: 500px;
}
.image_1{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
  }
.image_2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  .image_3{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
  }

.gallery2{
  display: grid;
  grid-template-columns: repeat(1);
  /* same size so they are squares */
  grid-template-rows: repeat(3);
  margin-left: 25em;
}

.newsrelease1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 500px;
        height: 600px;
    }
.newsrelease2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 500px;
        height: 150px;
    }
.newsrelease3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 450px;
        height: 150px;
        margin-left: 1em;
    }
.gallery3{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  /* same size so they are squares */
  grid-template-rows: repeat(3, 300px);
  grid-gap: 20px;
  margin-left: 4em;

}
.events1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 400px;
  height: 300px;
}
.events2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 400px;
        height:300px;
}
.events3{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 400px;
      height: 300px;
}
.events4{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 400px;
      height: 300px;
}
.events5{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 400px;
  height: 300px;
}
.events6{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 400px;
  height: 300px;
}
.events7{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 400px;
  height: 300px;
}
.events8{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 400px;
  height: 300px;
}
.events9{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 400px;
  height: 300px;
}
#ep{
  margin-left: 38em;
}
.nespresso img{
  width: 600px;
  height:800px;
  margin-top: 3em;
  margin-left: 26em;
}
#np{
  margin-left: 35em;
  margin-top: 5em;
}
#myBtn{
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: #333333;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  font-size: 35px;
  width: 75px;
  height: 75px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  margin-top: .5em;
}

#myBtn:hover{
  background-color: #257F75;
  opacity: 40%;
  color: white;
  display: inline-block;
  margin-top: .5em;
}
/* a:active{
  text-transform: none;
  color: #257F75;
}
a{
  text-decoration: none;
  text-transform: none;
  color: white;
} */
